@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --Pale-Blue: hsl(243, 100%, 93%);
    --Grayish-Blue: hsl(229, 7%, 55%);
    --Dark-lue: hsl(228, 56%, 26%);
    --Very-ark-Blue: hsl(229, 57%, 11%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway",sans-serif;
}

body {
    background-color: var(--Very-ark-Blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 1px);
    background-image: url(images/bg-desktop.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size:100% 50%;
}
.cont{
    position: relative;
    height: 25vh;
    width: 65vw;
    display: flex;
    gap: 30px;
}
.left-cont{
min-width:30%;
    border-radius: 7px 60px 7px 7px;
    background-color: var(--Dark-lue);
}
.logos{
    width: 80%;
    height: 100%;
    padding: 1.5rem;
}
.logo{
    width: 80%;
}
.sub-logo{
    margin: 25px 0;
    display: flex;
    gap:10px;
}
.sub-logo img{
    /* width: 23%; */
    background-color: var(--Very-ark-Blue);
    padding: 12px;
    border-radius: 8px;
}
.right-cont{
    background-color: var(--Dark-lue);
    position: absolute;
    height: 19vh;
    bottom: 0;
    right: 0;
    border-radius: 7px;
    min-width: 67%;
    padding: 2rem;
    color: var(--Grayish-Blue);
    font-weight: 500;
}
.info-box{
    position: absolute;
    height: 4.5rem;
    width: 9.5rem;
    background-color: white;
    color: var(--Grayish-Blue);
    font-size: 13px;
    padding: 1rem;
    top: -27px;
    right: 51px;
    border-radius: 25px 25px 0px 25px;
}
.info-box span{
    color: black;
    font-size: 30px;
    font-weight: 700;
}
.right-cont p span{
    font-weight: 700;
    color: var(--Pale-Blue);
}
.box{
    display: flex;
    align-items: center;
    height: 18px;
    border-radius: 20px;
    margin: 15px 0;
    background-color:var(--Very-ark-Blue);
}
.inner-box{
    position: relative;
    height: 15px;
    width: 80%;
    border-radius: 20px;
    background-image: linear-gradient(to right,hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    margin-left: 1px;
}
.point{
    position: absolute;
    right: 0;
    height: 12px;
    width: 12px;
    margin: 1px;
    border-radius: 50px;
    background-color: white;
}
.info{
    font-weight: 500;
    display: flex;
    color: var(--Pale-Blue);
    justify-content: space-between;
}
@media screen and (max-width:1150px) {
 .cont{
    width: 85vw;
 }
 .info-box{
    top: -50px;
}
}
@media screen and (max-width:800px) {
 .cont{
    width: 95vw;
 }
}
@media screen and (max-width:500px) {
    body{
        background-image:url(images/bg-mobile.png);
        position: center;
        background-size: cover;
      }
 .cont{
    /* position: relative; */
    flex-direction: column;
    height: auto;
    width:90vw;
 }
 .right-cont{
    position: relative;
 }
.info-box{
    border-radius: 10px;
}
}
.attribution {
    margin-top: 20px;
    color: white;
    font-size: 14px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 60%, 71%);
}